<!DOCTYPE html>
<html lang="<%= Sketchup.get_locale %>">

<head>

    <meta charset="UTF-8">
    <meta name="x-copyright" content="© 2018 Samuel Tallet-Sabathé">
    <meta name="x-license" content="GNU General Public License 3.0">

	<title><%= PBR::TRANSLATE['PBR Material Editor'] %></title>

	<script src="/lib/tipfy/tipfy.min.js"></script>
	<script src="/material-editor.js"></script>

	<link rel="stylesheet" href="/lib/tipfy/tipfy.min.css">
	<link rel="stylesheet" href="/material-editor.css">

</head>

<body>

	<form>

		<div class="form-row">
			
			<select class="drop-down set-full-width" id="material-selector" autofocus>
			<%
			Sketchup.active_model.materials.each_with_index do |material, material_index|
			%>
				<option value="<%= material_index %>"><%= material.display_name %></option>
			<%
			end
			%>
			</select>

		</div>

		<div class="form-row">

			<div class="label"><%= PBR::TRANSLATE['Metallic'] %></div>

			<input class="slider material-basic-control" type="range" min="0.0" max="1.0" step="0.1" data-key="metallicFactor" data-pattern="^((0(\.[0-9]+)?)|1(\.0+)?)$">

			<input class="num-field material-basic-control" type="number" min="0.0" max="1.0" step="0.01" data-key="metallicFactor" data-pattern="^((0(\.[0-9]+)?)|1(\.0+)?)$">

			<div class="helper" data-tipfy="<%= PBR::TRANSLATE['A value of 0 means the material is a dielectric.'] %> <%= PBR::TRANSLATE['A value of 1 means the material is a metal.'] %> <%= PBR::TRANSLATE['Values between 0 and 1 may represent dirty metal surfaces.'] %>" data-tipfy-side="left">❔</div>

		</div>

		<div class="form-row">

			<div class="label"><%= PBR::TRANSLATE['Roughness'] %></div>

			<input class="slider material-basic-control" type="range" min="0.0" max="1.0" step="0.1" data-key="roughnessFactor" data-pattern="^((0(\.[0-9]+)?)|1(\.0+)?)$">

			<input class="num-field material-basic-control" type="number" min="0.0" max="1.0" step="0.01" data-key="roughnessFactor" data-pattern="^((0(\.[0-9]+)?)|1(\.0+)?)$">

			<div class="helper" data-tipfy="<%= PBR::TRANSLATE['A value of 0 means the material is completely smooth.'] %> <%= PBR::TRANSLATE['A value of 1 means the material is completely rough.'] %>" data-tipfy-side="left">❔</div>

		</div>

		<div class="form-row">

			<div class="label"><%= PBR::TRANSLATE['Normal map'] %></div>

			<input class="uploader material-image-uploader" type="file" data-key="normalTextureURI" data-pattern="^data\:image\/(jpeg|png);.+$" data-pattern-mismatch="<%= PBR::TRANSLATE['The image format of this map must be JPEG or PNG.'] %>">

			<div class="button material-image-remove-btn" data-key="normalTextureURI" title="<%= PBR::TRANSLATE['Remove image from material definition'] %>">🗑</div>

			<div class="helper" data-tipfy="<%= PBR::TRANSLATE['The normal map gives an illusion of relief to the material.'] %> <%= PBR::TRANSLATE['Relief information is stored in image using RGB components in linear space.'] %>" data-tipfy-side="left">❔</div>

		</div>

		<div class="form-row">

			<div class="label"><%= PBR::TRANSLATE['Emissive map'] %></div>

			<input class="uploader material-image-uploader" type="file" data-key="emissiveTextureURI" data-pattern="^data\:image\/(jpeg|png);.+$" data-pattern-mismatch="<%= PBR::TRANSLATE['The image format of this map must be JPEG or PNG.'] %>">
			
			<div class="button material-image-remove-btn" data-key="emissiveTextureURI" title="<%= PBR::TRANSLATE['Remove image from material definition'] %>">🗑</div>

			<div class="helper" data-tipfy="<%= PBR::TRANSLATE['The emissive map controls the color of the light being emitted by the material.'] %> <%= PBR::TRANSLATE['Data about emitted light is stored in image using RGB components in sRGB space.'] %>" data-tipfy-side="left">❔</div>

		</div>

		<div class="form-row">

			<div class="label"><%= PBR::TRANSLATE['Alpha mode'] %></div>

			<select class="drop-down material-basic-control" data-key="alphaMode" data-pattern="^(OPAQUE|MASK|BLEND)$">
				<option value="OPAQUE"><%= PBR::TRANSLATE['Fully opaque'] %></option>
				<option value="MASK"><%= PBR::TRANSLATE['Fully opaque or transparent'] %></option>
				<option value="BLEND"><%= PBR::TRANSLATE['Combined with background'] %></option>
			</select>

			<div class="helper" data-tipfy="<%= PBR::TRANSLATE['Do you have transparency issues with this material? Try to select the last option of Alpha mode:'] %> <%= PBR::TRANSLATE['Combined with background'] %>" data-tipfy-side="left">❔</div>

		</div>

		<div class="form-row">
			
			<div class="button make-unmissable" id="material-apply-button"><%= PBR::TRANSLATE['Apply all changes'] %></div>

		</div>

	</form>

</body>

</html>